In [49]:
import pandas as pd

In [50]:
from sqlalchemy import create_engine

In [37]:
df = pd.read_csv("C:/Users/diana/jupyter_notebooks/spotify-analysis/data/raw/tracks_features.csv")

In [4]:
df.shape

(1204025, 24)

In [5]:
df.head(2)

,id,name,album,album_id,artists,artist_ids,track_number,disc_number,explicit,danceability,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
0,7lmeHLHBe4nmXzuXc0HDjk,Testify,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],1,1,False,0.470,...,0.0727,0.0261,0.000011,0.356,0.503,117.906,210133,4.0,1999,1999-11-02
1,1wsRitfRRtWyEapl0q22o8,Guerrilla Radio,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],2,1,True,0.599,...,0.1880,0.0129,0.000071,0.155,0.489,103.680,206200,4.0,1999,1999-11-02

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1204025 entries, 0 to 1204024
Data columns (total 24 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   id                1204025 non-null  object
 1   name              1204022 non-null  object
 2   album             1204014 non-null  object
 3   album_id          1204025 non-null  object
 4   artists           1204025 non-null  object
 5   artist_ids        1204025 non-null  object
 6   track_number      1204025 non-null  int64
 7   disc_number       1204025 non-null  int64
 8   explicit          1204025 non-null  bool
 9   danceability      1204025 non-null  float64
 10  energy            1204025 non-null  float64
 11  key               1204025 non-null  int64
 12  loudness          1204025 non-null  float64
 13  mode              1204025 non-null  int64
 14  speechiness       1204025 non-null  float64
 15  acousticness      1204025 non-null  float64
 16  instrumentalness  1204025 non-null  float64
 17  liveness          1204025 non-null  float64
 18  valence           1204025 non-null  float64
 19  tempo             1204025 non-null  float64
 20  duration_ms       1204025 non-null  int64
 21  time_signature    1204025 non-null  float64
 22  year              1204025 non-null  int64
 23  release_date      1204025 non-null  object
dtypes: bool(1), float64(10), int64(6), object(7)
memory usage: 212.4+ MB

In [7]:
df.isnull().sum()

id                   0
name                 3
album               11
album_id             0
artists              0
artist_ids           0
track_number         0
disc_number          0
explicit             0
danceability         0
energy               0
key                  0
loudness             0
mode                 0
speechiness          0
acousticness         0
instrumentalness     0
liveness             0
valence              0
tempo                0
duration_ms          0
time_signature       0
year                 0
release_date         0
dtype: int64

In [38]:
df = df.dropna()

In [9]:
df.shape

(1204012, 24)

In [28]:
print(pd.io.sql.get_schema(df, name='spotify_data'))

CREATE TABLE "spotify_data" (
"id" TEXT,
  "name" TEXT,
  "album" TEXT,
  "album_id" TEXT,
  "artists" TEXT,
  "artist_ids" TEXT,
  "track_number" INTEGER,
  "disc_number" INTEGER,
  "explicit" INTEGER,
  "danceability" REAL,
  "energy" REAL,
  "key" INTEGER,
  "loudness" REAL,
  "mode" INTEGER,
  "speechiness" REAL,
  "acousticness" REAL,
  "instrumentalness" REAL,
  "liveness" REAL,
  "valence" REAL,
  "tempo" REAL,
  "duration_ms" INTEGER,
  "time_signature" REAL,
  "year" INTEGER,
  "release_date" TIMESTAMP
)

In [39]:
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

In [51]:
engine = create_engine('postgresql://root:root@localhost:5432/spotify')

In [33]:
engine.connect()

In [35]:
print(pd.io.sql.get_schema(df, name='spotify', con=engine))

CREATE TABLE spotify (
	id TEXT,
	name TEXT,
	album TEXT,
	album_id TEXT,
	artists TEXT,
	artist_ids TEXT,
	track_number BIGINT,
	disc_number BIGINT,
	explicit BOOLEAN,
	danceability FLOAT(53),
	energy FLOAT(53),
	key BIGINT,
	loudness FLOAT(53),
	mode BIGINT,
	speechiness FLOAT(53),
	acousticness FLOAT(53),
	instrumentalness FLOAT(53),
	liveness FLOAT(53),
	valence FLOAT(53),
	tempo FLOAT(53),
	duration_ms BIGINT,
	time_signature FLOAT(53),
	year BIGINT,
	release_date TIMESTAMP WITHOUT TIME ZONE
)

In [40]:
df_iter = pd.read_csv('C:/Users/diana/jupyter_notebooks/spotify-analysis/data/raw/tracks_features.csv', iterator=True, chunksize=100000)

In [41]:
df = next(df_iter)

In [42]:
len(df)

100000

In [43]:
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

In [45]:
df.head(n=0).to_sql(name='spotify', con=engine, if_exists='replace')

0

In [46]:
df.to_sql(name='spotify', con=engine, if_exists='append')

1000

In [47]:
while True:
    df = next(df_iter)
    df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
    df.to_sql(name='spotify', con=engine, if_exists='append')
    print('inserted another chunk')

inserted another chunk
inserted another chunk
inserted another chunk
inserted another chunk
inserted another chunk
inserted another chunk
inserted another chunk
inserted another chunk
inserted another chunk
inserted another chunk
inserted another chunk
inserted another chunk

StopIteration:

In [53]:
fct_track_features = pd.read_sql("SELECT * FROM fct_track_features", engine)
fct_track_features.to_csv("fct_track_features.csv", index=False)

In [54]:
fct_track_features.head()

,dim_track_pk,dim_album_pk,duration_ms,danceability,energy,musical_key,loudness,mode,speechiness,instrumentalness,liveness,valence,tempo
0,5879f4127f0a90178a5668562c7371fd,9d769ce0f9db504e82722352dba25816,180323,0.436,0.923,7,-2.861,1,0.0389,0.00000,0.361,0.882,136.835
1,5879f4127f0a90178a5668562c7371fd,9d769ce0f9db504e82722352dba25816,180323,0.436,0.923,7,-2.861,1,0.0389,0.00000,0.361,0.882,136.835
2,5e27ace38dd8a86a6e4cf8330b4bfcd6,9d769ce0f9db504e82722352dba25816,224307,0.554,0.117,2,-12.912,1,0.0347,0.00000,0.123,0.444,109.254
3,5e27ace38dd8a86a6e4cf8330b4bfcd6,9d769ce0f9db504e82722352dba25816,224307,0.554,0.117,2,-12.912,1,0.0347,0.00000,0.123,0.444,109.254
4,f4e155d94bef8a7536de257dbea13a50,9d769ce0f9db504e82722352dba25816,151393,0.469,0.124,3,-13.866,1,0.0324,0.00255,0.112,0.188,108.412

In [55]:
dim_artists = pd.read_sql("SELECT * FROM dim_artists", engine)
dim_artists.to_csv("dim_artists.csv", index=False)

In [56]:
dim_artists.head()

,dim_artist_pk,artist_id,artist_name
0,e722ab4c312bd5626579d38063452778,0001whqxbf2yyrqxgdbyer,motion drive
1,518a92c079f4936942e20b7d895bb525,000iawmr5wgahzn6wzbz11,chris ward of the boss hogg outlawz & big pokey
2,1f86efd463c20943209536d4dc1bd6fa,000jaz6xctppm894u5h7a0,simon whistler
3,7f0abddbe5a009ab8eff4bbe11356b31,000nolc0a0zuwkfznyvydu,peter clark
4,2bbaf488fafe399bc867f4ef34a6ae52,000ojc08tbc41e7hzognsx,mohammed alidu & the bizung family

In [57]:
dim_albums = pd.read_sql("SELECT * FROM dim_albums", engine)
dim_albums.to_csv("dim_albums.csv", index=False)

In [58]:
dim_albums.head()

,dim_album_pk,album_id,album_name
0,00005d2c1fe3fe2c966a37e080597943,7JJpUwH8EQpphzYM3CpV7E,Underdog (Remix) (feat. Chronixx & Protoje)
1,0000f3c2b09e441e23e15e3a2dfb0cbe,3GSBcowmQxTWGiBOc4zJwh,Dreamstate
2,00010a79ac0f4ab7bb0bbc07c2103175,4jOZyxhGDWkhJ5xXZirKDW,The Fight Of My Life
3,00016a9a6fb5c3fd2b5d889601cb6f14,4MPsjeTpR7r8LgG4MVDBtm,Ageless Fire
4,0001864cf6c1e095ae1ea32fdd058a8e,7o3fB90pXLHyUTxzNS2vhF,Brood

In [59]:
dim_tracks = pd.read_sql("SELECT * FROM dim_tracks", engine)
dim_tracks.to_csv("dim_tracks.csv", index=False)

In [60]:
dim_tracks.head()

,dim_track_pk,track_id,track_name,track_number,disc_number,explicit_content,duration_ms,time_signature,release_year,release_date
0,5c4c6ae6ff3076644fd40286445c282f,5henxscPqeEMYu8vy7mu7S,Four Lauds: III. Rhapsodic Musings (2000),10,1,False,216173,4.0,2015,2015-04-06
1,acaaadc2a1e79779e65e93bd6c1fed6c,1TBw6cmbAro8UgRDygTI6o,Six Miniatures: I. In Nomine all’ungherese (Da...,11,1,False,345467,4.0,2015,2015-04-06
2,568155d853dbf2e9190b836ebcc5fe07,7qkEoH8JfJpf59RJgVVi4h,Six Miniatures: II. Anziksz Kellerannanak (Pos...,12,1,False,31400,3.0,2015,2015-04-06
3,e92a29c7478f7faf5121e42431b1e17d,17cQw9w9mTzhcLr1SHg8Bd,Six Miniatures: III. Hommage a John Cage,13,1,False,112613,4.0,2015,2015-04-06
4,013748563f802f13895c062d610983fe,7DEeYxqMaEOP4FejrfcjLN,Six Miniatures: IV. Thomas Blum in memoriam,14,1,False,157920,4.0,2015,2015-04-06

In [61]:
bridge_track_artists = pd.read_sql("SELECT * FROM bridge_track_artists", engine)
bridge_track_artists.to_csv("bridge_track_artists.csv", index=False)

In [62]:
bridge_track_artists.head()

                       dim_track_pk                     dim_artist_pk
0  0000153432d8849d52cae24193e19bcd  36e938a4e2860d5675a474252b414c9d
1  0000211e2ba4faff50f56ca9184db823  f598bd44c28224edc4e127a30be2bf53
2  00002a607975a921755d8de48d7d8297  315cc346b4c4a05e288c9fb29695405a
3  00002b2ae9057dc64d5838459ef5467f  a08646d2340e6e498f8be203a05404c1
4  00002f442e0ff974e2d405ebc16b76d0  bcdac410d4c638b6783a378c6371e7ef